.LayoutHeader {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

/* Home Header */
.LayoutHeaderTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  color: var(--color-primary);
}

/* Notification Header */
.LayoutSubHeaderTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}

.LayoutBellContainer {
  position: relative;
}
.LayoutBellIcon {
  color: rgb(138, 138, 138);
  fill: rgb(138, 138, 138);
}

.LayoutHeaderButtonContainer {
  border: none;
  background-color: transparent;
  padding: 0;
}

.LayoutBellDot {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 1px;
}

.LayoutNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;

  z-index: 100;
  background-color: #fff;

  display: flex;
  justify-content: space-between;

  padding-top: 20px;

  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

.LayoutNavLink {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
