.DailyGoalLayoutHeader {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.DailyGoalLayoutHeaderButton {
  border: none;
  background-color: transparent;
  padding: 0;
}

.DailyGoalLayoutTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
