.ReviewSection {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ReviewTextarea {
  height: 300px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.ReviewButton {
  padding: 10px 20px;
}
