.HomeSection {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.HomeTitle {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

.HomeMonthNavigationButton {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
}

.HomeCalendarWeeksContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);
}

.HomeCalendarDaysContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 8px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  transform: translateY(100%);
}

.HomeCalendarDaysContainer[data-dropdown='open'] {
  max-height: 400px;
  transform: translateY(0);
}

.HomeCalendarDaysContainer[data-dropdown='close'] {
  max-height: 40px;
  transform: translateY(0);
}

.HomeCalendarDaysContainer > div[data-current-month='false'] {
  color: #ccc;
}

.HomeCalendarWeek {
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomeCalendarWeekNumber {
  font-size: 16px;
  font-weight: 600;
}

.HomeCalendarWeekNumber[data-day='일'] {
  color: red;
}

.HomeCalendarWeekNumber[data-day='토'] {
  color: blue;
}

.HomeCalendarItem {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomeCalendarItem[data-today='true'] {
  background-color: #000;
  color: #fff;
}

.HomeCalendarItem[data-selected='true'] {
  background-color: #f69d58;
  color: #fff;
}

.HomeCalendarItemNumber {
  font-size: 12px;
}

.HomeCalendarDropdownButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.HomeCalendarDropdownButtonIconOpen {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.HomeCalendarDropdownButtonIconClose {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.HomeTimelineContainer {
  display: flex;
  flex-direction: column;
}

.HomeTimelineProgressContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.HomeTimelineProgressHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
}

.HomeTimelineProgress {
  width: 100%;
  appearance: none;
  height: 12px;
}

progress::-webkit-progress-value {
  background-color: var(--color-primary);
  border-radius: 8px;
}
progress::-webkit-progress-bar {
  background-color: #dbdbdb;
  border-radius: 8px;
}

.HomeTimelineList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.HomeTimelineItemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  color: #666;
  gap: 10px;

  padding: 12px 0;
}

.HomeTimelineItemHeaderTitle {
  flex-shrink: 0;
}

.HomeTimelineItemDivider {
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
}

.HomeTimelineItemContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.HomeTimelineItemContentItem {
  padding: 10px 14px;
  border-radius: 8px;
  background-color: #f0f0f0;
  font-size: 14px;

  border: none;

  display: flex;
  align-items: center;
  gap: 10px;
}

.HomeTimelineItemContentItem[data-complete='true'] {
  opacity: 0.5;
}

.HomeTimelineItemContentItemIcon {
  width: 32px;
  height: 32px;
  border: 1px solid #dbdbdb;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.HomeTimelineItemContentItemIcon:active {
  background-color: #dbdbdb;
}

.HomeTimelineItemContentItemIconCheck {
  stroke-width: 1.5px;
}
