.DailyGoalSection {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.DailyGoalTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px;
}

.DailyGoalTitleContainerHeader {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.StatusBadge {
  background-color: #d9d9d9;
  padding: 2px 8px;
  border-radius: 32px;
}

.DailyGoalTitleContainerTitle {
  font-size: 16px;
  font-weight: 600;
}

.DailyGoalMemoContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px;
  height: 300px;
}
