.NotificationSection {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.NotificationItem {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  padding: 10px 10px 10px 20px;
  border-radius: 4px;
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
