.AiAssistantDetailLayoutHeader {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;

  gap: 10px;
}

.AiAssistantDetailLayoutHeaderButton {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 24px;
  height: 24px;
}

.AiAssistantDetailLayoutTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}

.AiAssistantDetailLayoutImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
